

.container {
    max-width: 1280px;
    min-width: 400px;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    border-radius: 0 0 10px 10px;
    background-color: #125688;
    svg{
        font-size: 1.6rem;
        color: aliceblue;   
    }
}

.profileContainer{

    display: flex;
    align-items: center;
    svg{
        margin-left: 10px;
    }
    p{
        font-size: 1rem;
        font-weight: 600;
        color: aliceblue;
        margin-left: 5px;
    }
}
.profileImg{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.logoutContainer{
    svg{
        margin-right: 10px;
    }
    cursor: pointer;
}